.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.footer-contact {
    color: white;
    background-color: #AB705A;
}

.form {
    border-radius: 8px;
    padding: 20px 30px;
    box-sizing: border-box;
    position: relative
}

h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: #ffffff;
    border-bottom: 3px solid #ffffff
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid #ffffff
}

::placeholder{
    color:white;
    opacity: 0.6;
}

::ms-input-placeholder{
    color:white;
    opacity: 0.6;
}

input:focus {
    border-bottom: 2px solid #78788c
}

p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #ffffff
}

button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 8px 0; 
    border: 2px solid #ffffff;
    background: 0;
    color: #ffffff;
    cursor: pointer;
    transition: all .3s
}

button:hover {
    background: #ffffff;
    color: #AB705A;
}


.footer-location {
    color: black;    display: grid;
    grid-template-areas:
        'location'
        'address'
        'phone'
        'email'
        'map'
        'map'
        'map'
        'map';

}
.location-title{
    padding-top: 20px;
    margin-top: 8px;
    font-size: 21px;
    display: flex;
    grid-area: location;
    align-items: center;
    justify-content: center;
}
.location-address{
    display: flex;
    grid-area: address;
    align-items: center;
    justify-content: center;
}
.location-phone{
    display: flex;
    grid-area: phone;
    align-items: center;
    justify-content: center;
}
.location-email{
    display: flex;
    grid-area: email;
    align-items: center;
    justify-content: center;
}
.location-map{
    display: flex;
    grid-area: map;
    align-items: center;
    justify-content: center;
}
.copyright{
    background-color: black;
    color: rgb(161, 159, 159);
    text-align: center;
}

@media only screen and (max-width:500px) {
    .footer{
        grid-template-columns: 1fr;
    }
}